.about {
  margin-bottom: 50px;
}
.about__inner {
  position: relative;
  display: flex;
  margin-bottom: 60px;
  background-color: $primary-color;
}
.about__title {
  color: #fff;
}
.about__img {
  width: 47%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.about__info {
  background-color: $primary-color;
  padding: 40px 15px 15px 58px;
  max-width: 618px;
  p {
    margin-bottom: 30px;
    color: #fff;
  }
}
.about__services  {
  position:relative;
  @include container;
  display: flex;
  padding-bottom: 92px;
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 1px;
    right: 15px;
    left: 15px;
    background-color:#e8e8e8;
  }
}
.about__column {
  flex: 1;
  margin-right: 58px;
  border: 1px solid #e8e8e8;
  align-self: flex-start;
}
.about__works {
  max-width: 625px;
  width: 100%;
}
.about__item {
  padding: 0 51px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e8e8e8;
  &:first-child {
    padding-top: 15px;
  }
  h3 {
    font-family: 'GothamProMedium';
    color: #333333;
    font-size: 24px;
    font-weight: normal;
  }
}
.about__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    position:relative;
    margin-bottom: 10px;
    padding-left: 13px;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color:#2132db;
    }
  }
}
.about__link {
  display: block;
  padding: 22px 49px;
  color: #47c65f;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'GothamProMedium';
  &:last-child {
    border-bottom: none;
  }
  &:hover {
    background-color: #47c65f;
    color: #fff;
  }
}
.about__text-prew {
  padding-right: 31px;
  padding-left: 31px;
  p {
    margin-bottom: 25px;
  }
}
@media (max-width: 1024px) {
  .about__inner {
    flex-direction: column;
    align-items: center;
  }
  .about__info {
    max-width: 100%;
    padding-left: 15px;
  }
  .about__title {
    margin-left: 0;
  }
  .about__img {
    width: 100%;
    img {
      height: auto;
    }
  }
}
@media (max-width: 768px) {
  .about__inner {
    margin-bottom: 30px;

  }
    .about__title {
      font-size: 28px;
    }
  .about__text {
    p {
      margin-bottom: 20px;
      font-size: 15px;
    }
  }
}
@media (max-width: 425px) {
    .about__title {
      font-size: 24px;
    }
}