.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
  padding-right: 46px;
  padding-left: 24px;
  .header__contacts {
    display: none;
  }
}

.menu__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  li {
    display: inline-block;
    vertical-align: top;
  }
  a {
    display: block;
    padding: 22px 22px;
    font: 18px/1.33 'GothamProMedium', Arial sans-serif;
    color: #a4a8d0;
    text-transform: uppercase;
    &:hover {
      color: #ffffff;
    }
  }
}

.menu__search {
  label {
    display: none;
  }
}

.menu__search-field {
  margin-right: 20px;
  padding: 5px 7px;
  overflow: hidden;
  opacity: 0;
  transform: translateX(20px);
  transition: all .35s ease-out;
  border: 1px solid transparent;
  &:focus {
    outline: none;
    border-color: $secondary-color;
  }
  &.show {
    opacity: 1;
    transform: none;
    visibility: visible;
  }
}

.menu__search-btn {
  .icon {
    width: 23px;
    height: 23px;
  }
}
@media (max-width: 1170px) {
  .menu__list {
    a {
      font-size: 16px;
    }
  }
}
@media (max-width: 1024px) {
  .menu {
    position: fixed;
    right: 0;
    top: 98px;
    bottom: 0;
    flex-direction: column;
    align-items: flex-start;
    max-width: 300px;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    transform: translateX(100%);
    transition: all .35s ease-out;
    &.show {
      transform: none;
    }
  }
  .menu__list {
    margin-right: auto;
    margin-left: auto;
    li {
      display: block;
    }
  }
  .menu__search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
  }
  .menu__search-field {
    order: 2;
    margin-right: 0;
    transform: translate(0, 20px);
  }
  .menu__search-btn {
    order: 1;
    margin-bottom: 10px;
  }
}
@media (max-width: 768px) {
    .menu {
      top: 73px;
      .header__contacts {
        display: block;
      }
    }
}
@media (max-width: 425px) {
  .menu {
    max-width: 100%;
  }
}