body{
	font: 16px/1.5 'GothamProRegular', Arial sans-serif;
	overflow-x: hidden;
	color: #7d7d7d;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
h1 {
	font: 56px/1.35 'GothamProBold', Arial sans-serif;
	color: #ffffff;
}
h2 {
	font: 36px 'GothamProMedium', Arial sans-serif;
}
svg {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 100%;
}
.icon {
	display: inline-block;
}
a {
	text-decoration: none;
	transition: all .3s ease;
}
img {
	height: auto;
	max-width: 100%;
}
button {
	padding: 0;
	border: none;
	background-color: transparent;
	&:focus {
		outline: none;
	}
}
.title-line {
	position: relative;
	padding-bottom: 32px;
	&::before {
		content: '';
		position: absolute;
		left: 0;
		bottom: -2px;
		width: 95px;
		height: 5px;
		background-color: $third-color;
		z-index: 1;
	}
	&::after {
		content:'';
		position: absolute;
		left: 0;
		bottom: 0;
		height: 1px;
		width: 263px;
		background-color: #cdcdcd;
	}
	&--center {
		text-align: center;
		&::before {
			left: 50%;
			transform: translateX(-50%);
		}
		&::after {
			left: 50%;
			transform: translateX(-50%);
		}
	}
	&--white {
		&::before,
		&::after {
			background-color:#fff;
		}
	}
}