@font-face {
  font-family: "GothamProRegular";
  src: url("../font/GothamPro/GothamProRegular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'GothamProBold';
  src: url('../font/GothamPro/GothamProBold.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'GothamProItalic';
  src: url('../font/GothamPro/GothamProItalic.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'GothamProMedium';
  src: url('../font/GothamPro/GothamProMedium.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}