@mixin container {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin placeholder() {
	&::-webkit-input-placeholder {@content;}
	&::-moz-placeholder          {@content;}
	&:-moz-placeholder           {@content;}
	&:-ms-input-placeholder      {@content;}
}
