/* Let's go!
-------------------------------------------------------------- */
@font-face {
  font-family: "GothamProRegular";
  src: url("../font/GothamPro/GothamProRegular.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'GothamProBold';
  src: url("../font/GothamPro/GothamProBold.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'GothamProItalic';
  src: url("../font/GothamPro/GothamProItalic.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'GothamProMedium';
  src: url("../font/GothamPro/GothamProMedium.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  font: 16px/1.5 'GothamProRegular', Arial sans-serif;
  overflow-x: hidden;
  color: #7d7d7d; }

*,
*::before,
*::after {
  box-sizing: border-box; }

h1 {
  font: 56px/1.35 'GothamProBold', Arial sans-serif;
  color: #ffffff; }

h2 {
  font: 36px 'GothamProMedium', Arial sans-serif; }

svg {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%; }

.icon {
  display: inline-block; }

a {
  text-decoration: none;
  transition: all .3s ease; }

img {
  height: auto;
  max-width: 100%; }

button {
  padding: 0;
  border: none;
  background-color: transparent; }
  button:focus {
    outline: none; }

.title-line {
  position: relative;
  padding-bottom: 32px; }
  .title-line::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 95px;
    height: 5px;
    background-color: #2b3bdf;
    z-index: 1; }
  .title-line::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 263px;
    background-color: #cdcdcd; }
  .title-line--center {
    text-align: center; }
    .title-line--center::before {
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
    .title-line--center::after {
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
  .title-line--white::before, .title-line--white::after {
    background-color: #fff; }

@media (max-width: 768px) {
  .title-line::after {
    width: 173px; } }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  padding: 0; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-slide:focus {
  outline: none; }

.header__top {
  position: relative;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  margin-bottom: -45px;
  padding-top: 38px;
  z-index: 10; }

.header__top-inner {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  margin-bottom: 39px; }

.header__logo {
  margin-right: 20px;
  font-size: 0; }

.header__contacts {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center; }

.header__phone {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  width: 69px;
  height: 69px;
  margin-right: 35px;
  background-color: #47c65f;
  border-radius: 50%; }
  .header__phone .icon {
    width: 27px;
    height: 27px; }

.header__contacts-list {
  display: -webkit-box;
  display: flex; }

.header__contacts-item {
  padding-top: 11px; }
  .header__contacts-item a {
    color: #182a38;
    font: 31px/1.6 'GothamProBold', Arial, sans-serif; }
    .header__contacts-item a:hover {
      color: #08116d; }
  .header__contacts-item:first-child {
    position: relative;
    margin-right: 46px;
    padding-right: 46px; }
    .header__contacts-item:first-child::before {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      height: 53px;
      width: 1px;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      background-color: #c1c1c1; }

.header__title {
  display: block;
  font-size: 19px;
  line-height: 1.26; }

.header__promo {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  min-height: 746px;
  overflow: hidden; }
  .header__promo h1 {
    position: relative;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    margin-bottom: 0;
    margin-top: 0; }
  .header__promo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000;
    opacity: .5; }

.header__bg {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  z-index: -1; }

@media (max-width: 1170px) {
  .header__logo {
    width: 220px; } }

@media (max-width: 1024px) {
  .header__top {
    position: fixed;
    right: 0;
    left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    background-color: #fff;
    z-index: 200; }
  .header__top-inner {
    -webkit-box-pack: start;
            justify-content: flex-start;
    margin-bottom: 0; }
  .header__contacts {
    margin-left: auto;
    margin-right: 30px; }
  .header__phone {
    width: 40px;
    height: 40px;
    margin-right: 20px; }
    .header__phone .icon {
      width: 20px;
      height: 20px; }
  .header__contacts-item {
    padding-top: 6px; }
    .header__contacts-item a {
      font-size: 16px; }
    .header__contacts-item:first-child {
      margin-right: 30px;
      padding-right: 30px; }
      .header__contacts-item:first-child::before {
        height: 34px; }
  .header__title {
    font-size: 15px; }
  .header__promo {
    min-height: calc(100vh - 98px); }
    .header__promo::before {
      display: none; }
  .header__promo {
    background: #448af5 url(./../img/header-bg.jpg) center no-repeat;
    background-size: cover; }
  .header__bg {
    display: none; } }

@media (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: 1024px) and (min-resolution: 144dpi) {
  .header__promo {
    background-image: url(./../img/header-bg@2x.jpg); } }

@media (max-width: 768px) {
  .header__logo {
    width: 150px; }
  .header__contacts {
    position: relative;
    margin-right: auto;
    margin-bottom: 20px; }
  .header__phone {
    position: absolute;
    top: 50%;
    left: -60px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .header__contacts-list {
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column; }
  .header__top-inner .header__contacts {
    display: none; }
  .header__contacts-item a {
    color: #fff; }
  .header__contacts-item:first-child {
    margin-bottom: 5px;
    margin-right: 0;
    padding: 0; }
    .header__contacts-item:first-child::before {
      display: none; }
  .header__contacts-item a {
    font-size: 14px; }
  .header__promo h1 {
    text-align: center; }
  .header__contacts-item:first-child {
    margin-right: 0; } }

.menu {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  background-color: #08116d;
  padding-right: 46px;
  padding-left: 24px;
  min-height: 90px; }
  .menu .header__contacts {
    display: none; }

.menu__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0; }
  .menu__list li {
    display: inline-block;
    vertical-align: top; }
  .menu__list a {
    display: block;
    padding: 22px 22px;
    font: 18px/1.33 'GothamProMedium', Arial sans-serif;
    color: #a4a8d0;
    text-transform: uppercase; }
    .menu__list a:hover {
      color: #ffffff; }

.menu__search label {
  display: none; }

.menu__search-field {
  margin-right: 20px;
  padding: 5px 7px;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  transition: all .35s ease-out;
  border: 1px solid transparent; }
  .menu__search-field:focus {
    outline: none;
    border-color: #47c65f; }
  .menu__search-field.show {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    visibility: visible; }

.menu__search-btn .icon {
  width: 23px;
  height: 23px; }

@media (max-width: 1170px) {
  .menu__list a {
    font-size: 16px; } }

@media (max-width: 1024px) {
  .menu {
    position: fixed;
    right: 0;
    top: 98px;
    bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: start;
                -ms-grid-row-align: flex-start;
            align-items: flex-start;
    max-width: 300px;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    background-color: #1733c4;
    margin-bottom: -45px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    overflow-y: auto;
    transition: all .35s ease-out; }
    .menu.show {
      -webkit-transform: none;
              transform: none; }
  .menu__list {
    margin-right: auto;
    margin-left: auto; }
    .menu__list li {
      display: block; }
      .menu__list li a {
        color: #fff; }
  .menu__search {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto; }
  .menu__search-field {
    -webkit-box-ordinal-group: 3;
            order: 2;
    margin-right: 0;
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px); }
  .menu__search-btn {
    -webkit-box-ordinal-group: 2;
            order: 1;
    margin-bottom: 10px; } }

@media (max-width: 768px) {
  .menu {
    top: 73px; }
    .menu .header__contacts {
      display: block; } }

@media (max-width: 425px) {
  .menu {
    max-width: 100%; } }

.burger {
  position: relative;
  overflow: hidden;
  display: none;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  z-index: 30;
  transition: background 0.3s;
  cursor: pointer; }

.burger:focus {
  outline: none; }

.burger span {
  display: block;
  position: absolute;
  top: 17px;
  left: 7px;
  right: 7px;
  height: 2px;
  background: white; }

.burger span::before,
.burger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #47c65f;
  content: ""; }

.burger span::before {
  top: -7px; }

.burger span::after {
  bottom: -7px; }

.burger span::before,
.burger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #47c65f;
  content: ""; }

.burger span::before {
  top: -7px; }

.burger span::after {
  bottom: -7px; }

.burger__htra.active span {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.burger__htra.active span::before,
.burger__htra.active span::after {
  width: 50%; }

.burger__htra.active span::before {
  top: 0;
  -webkit-transform: translateX(-2px) translateY(1px) rotate(-45deg);
          transform: translateX(-2px) translateY(1px) rotate(-45deg); }

.burger__htra.active span::after {
  bottom: 0;
  -webkit-transform: translateX(-2px) translateY(-1px) rotate(45deg);
          transform: translateX(-2px) translateY(-1px) rotate(45deg); }

.burger__htx {
  border: 2px solid #47c65f;
  background-color: transparent; }

.burger__htx span {
  transition: background 0 0.3s; }

.burger__htx span::before,
.burger__htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0; }

.burger__htx span::before {
  transition-property: top, -webkit-transform;
  transition-property: top, transform;
  transition-property: top, transform, -webkit-transform; }

.burger__htx span::after {
  transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
  transition-property: bottom, transform, -webkit-transform; }

/* active state, i.e. menu open */
.burger__htx.active span {
  background: none; }

.burger__htx.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.burger__htx.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.burger__htx.active span::before,
.burger__htx.active span::after {
  transition-delay: 0, 0.3s; }

.burger span,
.burger span::before,
.burger span::after {
  background-color: #47c65f; }

@media (max-width: 1024px) {
  .burger {
    display: block; } }

@media (max-width: 768px) {
  .burger {
    margin-left: auto; } }

.work {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  transition: margin-top 1s ease 1.30s; }

.work__icon {
  position: absolute;
  left: 41px;
  top: 0; }

.work__item {
  position: relative;
  margin-right: 30px;
  margin-bottom: 30px;
  max-width: 360px;
  -webkit-box-flex: 1;
          flex: 1 1 300px;
  transition: all .3s ease-out; }
  .work__item:nth-child(3n) {
    margin-right: 0; }
  .work__item:first-child .icon {
    width: 43px;
    height: 34px; }
  .work__item:nth-child(2) .icon {
    width: 36px;
    height: 30px; }
  .work__item:nth-child(3) .icon {
    width: 40px;
    height: 32px; }
  .work__item:nth-child(4) .icon {
    width: 43px;
    height: 41px; }
  .work__item:nth-child(5) .icon {
    width: 34px;
    height: 34px; }
  .work__item:nth-child(6) .icon {
    width: 49px;
    height: 38px; }
  .work__item::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #333333;
    opacity: .3;
    transition: all .4s ease-out; }
  .work__item:hover::before {
    opacity: 1; }

.work__icon {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  width: 75px;
  height: 60px;
  background-color: #47c65f; }

.work__title {
  position: absolute;
  left: 40px;
  top: 50%;
  text-transform: uppercase;
  color: #fff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.work__link {
  position: absolute;
  padding: 20px 40px;
  bottom: 10px;
  width: 108px;
  height: 13px;
  color: #47c65f;
  font-weight: 400;
  font-size: 14px;
  white-space: nowrap; }
  .work__link:hover {
    color: #fff; }

.work__img {
  font-size: 0; }

@media (max-width: 1024px) {
  .work__item {
    -webkit-box-flex: 1;
            flex: 1 1 227px; } }

@media (max-width: 790px) {
  .work__item {
    -webkit-box-flex: 1;
            flex: 1 1 200px; } }

@media (max-width: 768px) {
  .work {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column; }
  .work__item {
    align-self: center;
    margin-right: 0;
    -webkit-box-flex: 1;
            flex: 1 1 auto; } }

.features {
  padding-top: 72px;
  padding-bottom: 54px;
  background: #f2f2f2 url(./../img/pattrn-object.png) 0 0 repeat; }

.features__inner {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px; }

.features__info {
  max-width: 489px;
  width: 100%;
  margin-right: 97px; }

.features__title {
  margin-top: 0;
  margin-bottom: 45px;
  color: #333333; }

.features__text p {
  margin-bottom: 25px; }

.features__list {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  -webkit-box-pack: end;
          justify-content: flex-end; }

.features__item {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-flex: 1;
          flex: 1 1 200px;
  align-self: flex-start;
  max-width: 263px;
  width: 100%;
  margin-right: 30px;
  margin-bottom: 35px;
  padding: 7px 20px;
  border-left: 2px solid transparent;
  background-color: #ffffff; }
  .features__item:nth-child(2n) {
    margin-right: 0; }
  .features__item:first-child, .features__item:nth-child(2) {
    border-color: #2b3bdf; }
  .features__item:nth-child(3), .features__item:nth-child(4) {
    border-color: #fbd532; }
  .features__item:nth-child(5), .features__item:nth-child(6) {
    border-color: #46c6ad; }
  .features__item .icon {
    width: 40px;
    height: 40px;
    margin-right: 27px; }
  .features__item h3 {
    font-size: 16px;
    color: #333333;
    font-weight: normal; }

.features__partners {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between; }

.features__partner {
  margin-right: 30px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%); }
  .features__partner:last-child {
    margin-right: 0; }

@media (max-width: 1024px) {
  .features__list {
    -webkit-box-flex: 1;
            flex: 1; }
  .features__item {
    align-self: flex-start;
    max-width: 100%;
    padding-right: 14px;
    padding-left: 14px;
    margin-right: 0;
    -webkit-box-flex: 1;
            flex: 1 1 300px; }
    .features__item h3 {
      font-size: 14px; } }

@media (max-width: 768px) {
  .features {
    padding-top: 40px;
    padding-bottom: 30px; }
  .features__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column; }
  .features__title {
    font-size: 28px; }
  .features__info {
    margin-right: 0; }
  .features__text p {
    font-size: 15px; }
  .features__list {
    margin-right: auto;
    -webkit-box-pack: center;
            justify-content: center; }
  .features__item {
    -webkit-box-flex: 1;
            flex: 1 1 227px;
    margin-right: 30px; }
    .features__item:nth-child(2n) {
      margin-right: 0; }
  .features__partner {
    margin-right: 0;
    margin-bottom: 20px; }
  .features__partners {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column; } }

@media (max-width: 513px) {
  .features__item {
    -webkit-box-flex: 1;
            flex: 1 1 173px; } }

@media (max-width: 425px) {
  .features__title {
    font-size: 24px; }
  .features__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    margin-right: 0; }
  .features__item {
    align-self: flex-start;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-flex: 0;
            flex: none; }
    .features__item:nth-child(2n) {
      margin-right: auto; } }

.about {
  margin-bottom: 74px; }

.about__inner {
  position: relative;
  display: -webkit-box;
  display: flex;
  margin-bottom: 60px;
  background-color: #08116d; }

.about__title {
  color: #fff;
  margin-bottom: 46px; }

.about__img {
  -webkit-box-flex: 1;
          flex: 1 1 43%; }
  .about__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }

.about__info {
  background-color: #08116d;
  padding: 31px 15px 15px 58px;
  -webkit-box-flex: 1;
          flex: 1 1 50%; }
  .about__info p {
    margin-bottom: 30px;
    color: #fff; }

.about__info-inner {
  max-width: 500px; }

.about__services {
  position: relative;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  padding-bottom: 92px; }
  .about__services::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 1px;
    right: 15px;
    left: 15px;
    background-color: #e8e8e8; }

.about__column {
  -webkit-box-flex: 1;
          flex: 1;
  align-self: flex-start;
  max-width: 458px;
  margin-right: 58px;
  border: 1px solid #e8e8e8; }

.about__works {
  -webkit-box-flex: 1;
          flex: 1;
  max-width: 625px;
  width: 100%; }

.about__item {
  padding: 0 51px;
  padding-bottom: 27px;
  border-bottom: 1px solid #e8e8e8; }
  .about__item:first-child {
    padding-top: 12px; }
  .about__item h3 {
    margin-bottom: 12px;
    font-family: 'GothamProMedium';
    color: #333333;
    font-size: 24px;
    font-weight: normal; }

.about__list {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .about__list li {
    position: relative;
    margin-bottom: 12px;
    padding-left: 13px; }
    .about__list li::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #2132db; }

.about__link {
  display: block;
  padding: 22px 49px;
  color: #47c65f;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'GothamProMedium'; }
  .about__link:last-child {
    border-bottom: none; }
  .about__link:hover {
    background-color: #47c65f;
    color: #fff; }

.about__text-prew {
  padding-right: 31px;
  padding-left: 31px; }
  .about__text-prew p {
    margin-bottom: 25px; }

@media (max-width: 1024px) {
  .about__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
                -ms-grid-row-align: center;
            align-items: center; }
  .about__info {
    padding-top: 0;
    padding-left: 15px; }
    .about__info h2 {
      font-size: 28px; }
  .about__info-inner {
    max-width: 100%; }
  .about__title {
    margin-left: 0; }
  .about__img {
    width: 100%; }
    .about__img img {
      height: auto; } }

@media (max-width: 768px) {
  .about__inner {
    margin-bottom: 30px; }
  .about__title {
    font-size: 28px; }
  .about__text p {
    margin-bottom: 20px;
    font-size: 15px; }
  .about__services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column; }
  .about__services {
    padding-bottom: 20px; }
  .about__column {
    margin-right: 0;
    align-self: center;
    margin-bottom: 30px; }
  .about__works {
    align-self: center; }
  .about__link {
    padding: 13px 20px;
    font-size: 15px; }
  .about__item {
    padding: 0 20px;
    padding-bottom: 15px; }
    .about__item:first-child {
      padding-top: 0; }
    .about__item h3 {
      font-size: 20px; }
  .about__info h2 {
    font-size: 24px; } }

@media (max-width: 425px) {
  .about__title {
    font-size: 24px; }
  .about__column {
    width: 100%; }
  .about__text-prew {
    padding-right: 10px;
    padding-left: 10px; }
    .about__text-prew p {
      font-size: 15px; } }

.control {
  margin-bottom: 57px; }

.control__top {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between; }

.control__title {
  margin-top: 0;
  margin-right: 20px;
  color: #333333; }

.control__arrows {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  width: 165px;
  font-size: 0; }

.control__arrow {
  width: 66px;
  height: 50px;
  background-color: #47c65f;
  transition: all .35s ease-out; }
  .control__arrow .icon {
    width: 20px;
    height: 21px; }
  .control__arrow:not(.slick-disabled):hover {
    background-color: #08116d; }
  .control__arrow:not(.slick-disabled):active {
    background-color: #050a3d; }
  .control__arrow.slick-disabled {
    background-color: #dedede; }
  .control__arrow svg {
    fill: #fff; }

.control__item {
  margin: 17px; }
  .control__item h4 {
    margin-top: 20px;
    margin-bottom: 0;
    font-family: 'GothamProBold';
    color: #2c3948;
    font-size: 20px; }

.control__photo {
  font-size: 0; }

.control__tel {
  color: #2b3bdf;
  font-size: 16px; }
  .control__tel .icon {
    width: 20px;
    height: 12px; }
  .control__tel span {
    line-height: 1; }
  .control__tel:hover {
    color: #2c3948; }

.control__text p {
  font-size: 14px;
  line-height: 1.42; }
  .control__text p:first-child {
    margin-top: 10px; }

.slide-control {
  max-width: 1170px;
  margin: 0 auto; }

@media (max-width: 768px) {
  .control {
    margin-bottom: 30px; }
  .control__title {
    font-size: 28px; } }

@media (max-width: 425px) {
  .control__title {
    font-size: 24px; }
  .control__item h4 {
    font-size: 16px; }
  .control__arrows {
    width: 85px; }
  .control__arrow {
    width: 46px; } }

.technology__row {
  display: -webkit-box;
  display: flex; }

.technology__main-video,
.technology__desc {
  -webkit-box-flex: 1;
          flex: 1 1 50%; }

.technology__main-video {
  position: relative;
  margin-right: 5px;
  font-size: 0; }
  .technology__main-video img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }

.technology__play-round {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 18px 32px 18px 80px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  box-shadow: 0 6px 21px rgba(71, 198, 95, 0.65);
  border-radius: 5px;
  background-color: #47c65f;
  color: #fff;
  font-size: 16px;
  font-family: 'GothamProMedium';
  text-transform: uppercase;
  white-space: nowrap;
  transition: all .3s ease-out;
  cursor: pointer; }
  .technology__play-round::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 33px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    border: 10px solid transparent;
    border-left: 18px solid white;
    transition: all .3s ease-out; }
  .technology__play-round:hover {
    background-color: #fff;
    color: #47c65f; }
    .technology__play-round:hover::before {
      border-left: 18px solid #47c65f; }

.technology__desc {
  padding-left: 87px;
  padding-bottom: 60px;
  background-color: #08116d;
  color: #fff; }
  .technology__desc h2 {
    margin-top: 68px;
    margin-bottom: 38px;
    font-family: 'GothamProMedium';
    font-size: 60px;
    line-height: 1.1; }

.technology__desc-inner {
  max-width: 403px; }

.technology__text p {
  margin-bottom: 25px; }

.technology__item {
  position: relative;
  font-size: 0;
  margin-right: 5px; }
  .technology__item h4 {
    margin: 0;
    margin-bottom: 25px;
    text-align: center;
    color: #ffffff;
    font-family: 'GothamProMedium';
    font-size: 24px;
    text-transform: uppercase;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0;
    transition: all .3s ease-out; }
  .technology__item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }
  .technology__item:hover .technology__play-circle,
  .technology__item:hover h4 {
    -webkit-transform: none;
            transform: none;
    opacity: 1; }

.technology__center {
  position: absolute;
  right: 15px;
  left: 15px;
  top: 45%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.technology__play-circle {
  position: relative;
  width: 87px;
  height: 87px;
  border-radius: 50%;
  background-color: #3dc054;
  font-size: 0;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  opacity: 0;
  transition: all .3s ease-out; }
  .technology__play-circle::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 61%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border: 14px solid transparent;
    border-left: 22px solid white;
    transition: all .3s ease-out; }
  .technology__play-circle:hover {
    background-color: #fff; }
    .technology__play-circle:hover::before {
      border-left: 22px solid #47c65f; }

.js-slick-technologies.slick-initialized {
  margin: 5px 0; }

.technologies__slider {
  position: relative; }
  .technologies__slider .control__arrow {
    position: absolute;
    top: 50%;
    width: 66px;
    height: 66px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 0;
    z-index: 10; }
    .technologies__slider .control__arrow--prev {
      left: 0; }
      .technologies__slider .control__arrow--prev.slick-disabled {
        background-color: #47c65f; }
        .technologies__slider .control__arrow--prev.slick-disabled:hover {
          background-color: #08116d; }
        .technologies__slider .control__arrow--prev.slick-disabled:active {
          background-color: #050a3d; }
    .technologies__slider .control__arrow--next {
      right: 0; }

@media (max-width: 1024px) {
  .technology__desc {
    padding: 25px;
    padding-top: 0;
    padding-bottom: 0; }
    .technology__desc h2 {
      font-size: 40px; }
  .technology__play-circle {
    width: 67px;
    height: 67px; }
  .technology__item h4 {
    font-size: 18px; } }

@media (max-width: 768px) {
  .technology__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column; }
  .technology__main-video {
    margin-right: 0; }
  .technology__desc-inner {
    max-width: 100%; }
  .technology__play-circle {
    width: 47px;
    height: 47px; }
    .technology__play-circle::before {
      border: 8px solid transparent;
      border-left: 15px solid white; }
    .technology__play-circle:hover::before {
      border-left-width: 15px; }
  .technology__item h4 {
    margin-bottom: 15px; }
  .technology__slider li.slick-active:nth-of-type(2n) .technology__item {
    margin-right: 0; }
  .technologies__slider li.slick-active:nth-of-type(4n) .technology__item {
    margin-right: 5px; }
  .technology__desc h2 {
    margin-top: 20px;
    font-size: 30px; } }

@media (max-width: 425px) {
  .technology__desc {
    padding: 15px; }
  .technology__item {
    margin-right: 0; }
  .technology__play-round {
    padding: 10px 32px 10px 80px;
    font-size: 15px; } }

.objects {
  padding-top: 65px;
  padding-bottom: 63px;
  background: #f2f2f2 url(./../img/pattrn-object.png) 0 0 repeat; }

.objects__slider {
  position: relative;
  max-width: 1366px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 98px; }
  .objects__slider .control__arrow {
    position: absolute;
    top: 115px;
    width: 66px;
    height: 66px;
    background-color: #ffffff;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 0; }
    .objects__slider .control__arrow--prev {
      left: 0; }
    .objects__slider .control__arrow--next {
      right: 0; }
    .objects__slider .control__arrow:hover {
      background-color: #47c65f; }
      .objects__slider .control__arrow:hover svg {
        fill: #fff; }
  .objects__slider svg {
    fill: #000;
    transition: all .3s ease-out; }

.objects__title {
  margin-top: 0;
  margin-bottom: 60px;
  color: #333333; }

.objects__item {
  background-color: #fff;
  margin: 0 15px; }

.objects__img {
  font-size: 0; }

.objects__bottom {
  padding: 0 50px 10px 30px;
  color: #8d8d8d;
  font-size: 13px; }
  .objects__bottom h3 {
    font-family: 'GothamProBold';
    color: #2c3948; }

.objects__img {
  position: relative;
  display: block; }
  .objects__img .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 49px;
    height: 49px;
    margin-top: -25px;
    margin-left: -25px;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
    opacity: 0;
    transition: all .35s ease-out; }
  .objects__img:hover .icon {
    -webkit-transform: none;
            transform: none;
    opacity: 1; }

@media (max-width: 1024px) {
  .objects__bottom {
    padding: 0 15px 10px 15px; }
  .objects__slider .control__arrow {
    width: 36px;
    height: 36px; }
  .objects__slider {
    padding: 0 48px; }
  .objects__img img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; } }

@media (max-width: 768px) {
  .objects {
    padding: 30px 0; }
  .objects__title {
    font-size: 28px; }
  .objects__item {
    margin: 0 7px; } }

@media (max-width: 425px) {
  .objects__title {
    font-size: 24px; } }

.career {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  padding-top: 40px;
  margin-bottom: 90px; }

.career__title {
  margin-bottom: 83px;
  color: #000; }

.career__list {
  display: -webkit-box;
  display: flex; }

.career__item {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-right: 109px; }
  .career__item:last-child {
    margin-right: 0; }
  .career__item h3 {
    margin-bottom: 20px;
    font-family: 'GothamProMedium';
    color: #333333;
    font-weight: normal;
    font-size: 24px; }
  .career__item ul {
    padding: 0;
    margin: 0;
    list-style-type: none; }
  .career__item li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 12px;
    font-size: 14px;
    line-height: 1; }
    .career__item li::before {
      content: '';
      position: absolute;
      left: 0;
      top: 3px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #2132db; }

.career__img {
  -webkit-box-flex: 0;
          flex: none;
  margin-right: 25px; }

@media (max-width: 1024px) {
  .career__item {
    -webkit-box-flex: 1;
            flex: 1 1 26%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    margin-right: 20px;
    -webkit-box-pack: start;
            justify-content: flex-start; }
    .career__item h3 {
      margin-top: 10px; }
  .career__img {
    min-height: 77px; } }

@media (max-width: 768px) {
  .career {
    padding-top: 20px;
    margin-bottom: 50px; }
  .career__title {
    margin-bottom: 40px;
    font-size: 28px; }
  .career__item {
    margin-right: 20px; }
    .career__item h3 {
      font-size: 20px; }
  .career__img {
    min-height: 77px; } }

@media (max-width: 425px) {
  .career__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: start;
                -ms-grid-row-align: flex-start;
            align-items: flex-start;
    max-width: 260px;
    margin-right: auto;
    margin-left: auto; }
  .career__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    max-width: 230px;
    margin-right: 0;
    margin-bottom: 20px; }
  .career__title {
    font-size: 24px; } }

.review {
  margin-bottom: 80px; }

.review__top {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  margin-bottom: 38px; }

.review__title {
  margin-top: 0;
  margin-right: 20px;
  color: #000; }

.review__slider {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0; }

.review__item {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  max-width: 360px;
  margin: 0 15px;
  padding-top: 85px;
  padding-bottom: 27px;
  border: 2px solid #c1c1c1; }

.review__img {
  position: absolute;
  top: -56px;
  left: 50%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 113px;
  height: 113px;
  text-align: center;
  font-size: 0;
  background-color: #fff;
  border-radius: 50%;
  z-index: 2; }
  .review__img--no-photo {
    border: 2px solid #d1d1d1; }

.review__message {
  padding-right: 53px;
  padding-left: 53px;
  color: #333333;
  font-family: 'GothamProItalic';
  font-size: 18px;
  line-height: 1.66; }
  .review__message blockquote {
    margin: 0;
    margin-bottom: 20px; }

.review__auto-info {
  margin-top: auto;
  font-family: 'GothamProMedium';
  font-style: normal; }

.review__slider .slick-list {
  padding-top: 56px; }

.review__auto-info {
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
  color: #2c3948;
  font-family: 'GothamProMedium';
  font-size: 24px; }

@media (max-width: 1024px) {
  .review__message {
    padding-right: 15px;
    padding-left: 15px;
    font-size: 16px; }
  .review__auto-info {
    font-size: 20px; } }

@media (max-width: 768px) {
  .review {
    margin-bottom: 30px; }
  .review__title {
    font-size: 28px; } }

@media (max-width: 425px) {
  .review__title {
    font-size: 24px; }
  .review__item {
    max-width: 100%; } }

.contacts {
  position: relative; }

.contacts__promo-inner {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center; }

.contacts__promo {
  background: #25803c url(./../img/contacts-bg.jpg) center no-repeat;
  background-size: cover;
  padding-top: 40px;
  min-height: 233px; }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .contacts {
    background-image: url(./../img/contacts-bg@2x.jpg); } }

.contacts__text {
  max-width: 580px;
  margin-right: 30px;
  color: #fff; }
  .contacts__text h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'GothamProMedium';
    font-size: 36px;
    font-weight: normal; }
  .contacts__text p {
    margin-top: 10px; }

.contacts__btn {
  max-width: 230px;
  width: 100%;
  padding: 15px 20px;
  text-align: center;
  box-shadow: 0 0 40px rgba(23, 56, 23, 0.51);
  border-radius: 5px;
  background-color: #ffffff;
  color: #3a913c;
  font-size: 18px;
  font-family: 'GothamProBold';
  text-transform: uppercase;
  transition: all .3s ease-out; }
  .contacts__btn:hover {
    background-color: #1f32ef;
    color: #fff; }
  .contacts__btn:active {
    background-color: #0b189d; }

.contacts__map {
  min-height: 864px;
  background: #fff url(./../img/map.png) center no-repeat;
  background-size: cover; }

.contacts__inner {
  position: absolute;
  bottom: -35px;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  left: 0;
  right: 0;
  pointer-events: none; }

.contacts__block-contact {
  max-width: 458px;
  background-color: #08116d;
  max-height: 933px;
  padding: 70px 50px;
  pointer-events: auto; }

.contacts__group {
  margin-bottom: 53px; }
  .contacts__group a {
    font-size: 14px;
    color: #fff; }
    .contacts__group a:nth-of-type(3), .contacts__group a:nth-of-type(4) {
      padding-left: 34px; }
    .contacts__group a:nth-of-type(4) {
      margin-bottom: 12px; }
    .contacts__group a:hover {
      color: #b3b3b3; }

.contacts__label {
  display: block;
  margin-bottom: 19px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font: 18px/1.88 'GothamProMedium'; }

.contacts__link {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  margin-bottom: 7px;
  padding-left: 34px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71; }
  .contacts__link .icon {
    position: absolute;
    left: 0;
    top: 5px;
    align-self: flex-start;
    width: 14px;
    height: 14px; }
  .contacts__link--more {
    display: inline-block;
    margin-bottom: 0; }
  .contacts__link--top {
    margin-top: 14px; }

.contacts__more-contacts {
  display: none; }

@media (max-width: 1024px) {
  .contacts__block-contact {
    position: relative;
    max-height: 200px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    transition: all .4s ease-out; }
    .contacts__block-contact.show {
      max-height: 963px; }
  .contacts__more-contacts {
    display: block;
    position: absolute;
    font-size: 14px;
    top: 25px;
    right: 47px;
    color: #47c65f; } }

@media (max-width: 768px) {
  .contacts__promo {
    padding-top: 20px;
    padding-bottom: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: start;
            justify-content: flex-start; }
  .contacts__block-contact {
    max-height: 153px; }
  .contacts__promo-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: start;
                -ms-grid-row-align: flex-start;
            align-items: flex-start; }
  .contacts__text {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 20px; }
    .contacts__text h3 {
      font-size: 28px; }
  .contacts__btn {
    font-size: 16px;
    padding: 13px 20px; }
  .contacts__block-contact {
    padding: 20px 15px; }
  .contacts__group {
    margin-bottom: 20px; }
    .contacts__group a:nth-of-type(2) {
      padding-left: 34px; }
  .contacts__inner {
    bottom: -25px; }
  .contacts__map {
    min-height: 664px; }
  .contacts__link {
    font-size: 13px; }
    .contacts__link--more {
      display: block; } }

@media (max-width: 425px) {
  .contacts__text h3 {
    font-size: 24px; } }

.feedback {
  min-height: 362px;
  padding-top: 65px;
  padding-bottom: 30px;
  background: #4c4c4c url(./../img/feedback.jpg) center no-repeat;
  background-size: cover; }

.feedback__inner {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 762px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  text-align: center; }
  .feedback__inner p {
    margin-bottom: 35px;
    color: #fcfcfc;
    font-family: 'GothamProMedium';
    font-size: 30px;
    line-height: 1.43;
    text-transform: uppercase; }

.feedback__btn {
  max-width: 263px;
  width: 100%;
  padding: 22px 20px;
  border-radius: 5px;
  background-color: #47c65f;
  font-family: 'GothamProBold';
  font-size: 18px;
  line-height: 1.33;
  color: #ffffff;
  text-transform: uppercase;
  transition: all .3s ease-out; }
  .feedback__btn:hover {
    background-color: #fff;
    color: #3dc054; }
  .feedback__btn:active {
    background-color: #e6e6e6; }

@media (max-width: 768px) {
  .feedback {
    min-height: 100%;
    padding-top: 10px; }
  .feedback__inner p {
    font-size: 20px; }
  .feedback__btn {
    padding: 15px 20px;
    font-size: 18px; } }

.footer {
  padding: 14px 0; }

.footer__inner {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center; }

.footer__menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0; }
  .footer__menu li {
    display: inline-block;
    vertical-align: top; }
  .footer__menu a {
    display: block;
    padding: 13px;
    color: #878787;
    font-size: 13px;
    line-height: 2.15; }
    .footer__menu a:hover {
      color: #47c65f; }
    .footer__menu a:active {
      color: #34a649; }

.footer__copy {
  margin-right: 30px;
  color: #878787;
  font-size: 13px;
  line-height: 2.15; }

@media (max-width: 768px) {
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-ordinal-group: 2;
            order: 1; }
  .footer__copy {
    -webkit-box-ordinal-group: 3;
            order: 2; }
  .footer__menu {
    text-align: center; } }

@media (max-width: 425px) {
  .footer__menu li {
    display: block; } }
